<div class="container mt-5 mb-5">
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text"class="form-control" placeholder="ENTER FIRST NAME" >
            </div>
            <div class="col-lg-12 m6t-2 mb-2">
                <input type="text" class="form-control" placeholder="ENTER LAST NAME" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="ENTER EMAIL ID" >
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="ENTER PHONE NUMBER" >
            </div>
            <div class="col-lg-12">
                <br>
                <button class="btn btn-md btn-dark">SUBMIT <i class="bi bi-arrow-right"></i></button>
            </div>
            


        </div>
    </form>
</div>