<div class="container mt-5 mb-5">
    <p style="color: #b3b0b0; font-size: 20px;">
        Climate change can affect our health, ability to grow food, housing, safety and work. Some of us are already
         more vulnerable to climate impacts, such as people living in small island nations and other developing 
         countries. Conditions like sea-level rise and saltwater intrusion have advanced to the point where whole
          communities have had to relocate, and protracted droughts are putting people at risk of famine. 
          In the future, the number of “climate refugees” is expected to rise.
          <br><br>
         The National Oceanic and Atmospheric Administration reports that sea levels are rising, ecosystems are being 
         disturbed,and the frequency of extreme weather events is increasing. According to the United Nations' most recent United in Science report,
        COVID-19-related national lockdowns and confinement decreased daily global fossil carbon dioxide (CO2) emissions by 17 percent in April.
        However, daily CO2 emissions recovered by June and were within 5% of pre-pandemic levels. According to the Yale Program on Climate Change 
        Communication, 54 percent of American adults are concerned or alarmed about climate change, which the United Nations has dubbed the "defining crisis of our time."
        Greenpeace.  An international non-profit organisation whose mission is to "ensure the Earth's capacity to nurture life in all its diversity."
         Center for Environmental Research and Conservation at the Earth Institute. Columbia University-based think tank for sustainability.
         Institut Earth Island. David R. Brower founded the organization,  which serves as an umbrella for environmental issues and gives individuals 
         and organisations the tools they need to create initiatives. 
         <br><br>
         The largest conservation organisation in the world is WWF. It is active in more than 100 countries and has more than five million supporters
          globally.Around 1,300 environmental and conservation projects are supported by them. A global nongovernmental organisation is WWF.
    </p>

</div>