<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-6" *ngIf="CData">
            <a routerLink="../../data" class="btn btn-sm btn-dark mb-3 ">BACK</a>
            <img src="{{CData[0].cImg}}" width="100%"/>
            
        </div>
<div class="col-lg-6 col-12" *ngIf="CData">
    <br><br><br>
    <p style="color:#b3b0b0; font-size: 20px; ">
        The effects of climate change on various societal segments are interconnected. 
        Food production and human health can be harmed by drought,flooding has the potential to spread illness and harm infrastructure 
        and ecosystems. Health problems can reduce worker productivity, raise mortality, and have an impact on the availability of food.
        <br><br>
        NGO working for climate change
        <br>
        1.Chintan Environmental Research and Action Group <br>
        2. SankalpTaru Foundation <br>
        3. Mukti <br>
        4. Technology Informatics Design Endeavour (TIDE) <br>
        5. Ashoka Trust for Research in Ecology and the Environment (ATREE) <br>

    </p>
</div> 
</div>
</div>